
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.roles {
  display: flex;
  justify-content: center;
  margin: 20px;
}
